/*************** GENERAL ******************/
h1 {
    font-weight: 400;
    font-size: 2rem; 
    line-height: 2;
    color: rgb(0,0,0);
    font-family: "Arial"; 
}
h2 {
    font-weight: 100; 
    font-size: 2rem; 
    line-height: 1;
    color: rgb(0,0,0);
    font-family: "Arial"; 
}
h3 {
    font-size: 0.5rem; 
    font-family: "Arial"; 
    color: rgb(0,0,0);
}
h4 {
    font-size: 0.2rem; 
    font-family: "Arial";
    color: rgb(0,0,0);
}
a {
    color: rgb(0,0,0);
    font-family: "Arial"; 
}
a:hover {
    color: rgb(99,174,155);
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FFD4B2;
    border-width: 5px;
    width: 4%;
    margin: 50px auto;
    background-color: rgb(0,0,0);
}
body {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer {
    text-align: center;
    font-size: 1.5rem;
}

/*************** INFO Page *******************/
.info-name {
    font-family: "Helvetica Neue";  
    font-size: 1.5rem;
    padding: 20% 0% 0% 0%;
}
.info-descrip {
    font-family: "Helvetica Neue";
    line-height: 1.2;
    font-size: 1rem;
    padding: 0% 28% 0% 0%;
}
.info-row {
    width:50%;
    margin: 100px auto 0px auto; 
    text-align: left;
    line-height: 2;
    padding-bottom: 50%;
}
.selfie {
    margin-right: 30px;
    float: left;
    padding: 19% 0% 0% 20%;
    width: 50;
    height: 50;
}
.link-item {
    padding: 1% 2% 0% 0%;
}

/*************** NAVIGATION BAR ****************/
.container-fluid {
    background-color: rgb(255,255,255);
}
.navbar {
    padding: 0%;
    background-color: rgb(255, 255, 255);
}
.navbar-brand {
    font-family: "Montserrat"; 
}
.nav-link {
    font-family: "Arial"; 
    margin-top: 10px;
}
.nav-item {
    margin: 0;
    padding: 0 15px; 
}

/*************** COVER ******************/
.cover-date {
    font-size: 1rem;
    font-family: "Arial";
    color: rgb(0, 0, 0); 
}
.cover-title {
    font-size: 1.4rem;
    font-family: "Arial";
    color: rgb(0, 0, 0)
}
.cover-image {
    object-fit: cover;
}
.cover {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10% 5% 10% 5%;
}

/**************** INTRO ***************/ 
.intro {
    background-color: rgb(255, 255, 255);
    padding: 10% 5%;
    text-align: center;
}
.intro-name {
    font-family: "Arial"; 
    font-weight: 100; 
    line-height: 1.4; 
    font-size: 2rem; 
    padding: 0.25%; 
    text-align: center;
    margin-bottom: 5%
}
.intro-descrip {
    font-family: "Arial"; 
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

/* Latest Section */
#latest {
    padding: 10% 0% 10% 0%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.latest-description {
    font-family: "Arial";
    text-align: center;
    padding-bottom: 20px;
    padding-left: 12px;
}
.latest-column {
    padding: 1% 2%;
    font-family: "Arial";
}
.latest-content {
    text-align: center;
    padding: 10% 5% 10% 5%;
}
.latest-button {
    margin: 0 25% 0 25%;
}

/*************** CONTACT ****************/
.contact-me {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}
.contact-title {
    font-family: "Arial"; 
    font-weight: 100; 
    line-height: 1.4; 
    font-size: 2rem; 
    padding: 0.25%; 
    text-align: center;
    margin-bottom: 5% 
}
.contact-slogan {
    font-family: "Arial"; 
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.contact-message {
    font-family: "Arial"; 
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

/*************** ENDING ***************/
.ending {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.contact-message {
    width: 45%; 
    margin: 40px auto 60px;
}
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #63ae9b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #86c8bc;
    text-decoration: none;
}
.copyright {
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    padding: 20px 0; 
}
.footer-link {
    font-size: 1rem;
}


/*************** RESUME ****************/ 
.resume {
    background-color: rgb(26,18,11);
    color: rgb(255,255,255);
    text-align: center;
}

/*************** RESEARCH ***************/
.research {
    background-color: rgb(26,18,11);
    color: rgb(255,255,255);
    text-align: center;
    padding: 10% 5%; 
}
.research-title {
    font-size: 1.4rem;
    font-family: "Arial";
}
.research-descrip {
    font-family: "Arial"; 
    font-size: 1rem; 
}
.research-row {
    width:50%;
    margin: 100px auto 0px auto; 
    text-align: left;
    line-height: 2;
}
.happy-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.vision-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

/*************** SKILLS ***************/
.skills {
    background-color: rgb(26,18,11);
    color: rgb(255,255,255);
    text-align: center;
    padding: 10% 5%;
}
.skill-web {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-data {
    width: 50%;
    margin: 0px auto 100px auto; 
    text-align: right; 
    line-height: 2;
}
.web-dev {
    width: 25%; 
    float: left; 
    margin-right: 30px;
}
.data-img {
    width: 25%;
    float: right; 
    margin-left: 30px;
}
