/*************** GENERAL ******************/
h1 {
    font-weight: 400;
    font-size: 2rem; 
    line-height: 2;
    color: rgb(255,255,255);
    font-family: "Raleway"; 
}
h2 {
    font-weight: 100; 
    font-size: 2rem; 
    line-height: 1;
    color: rgb(255,255,255);
    font-family: "Raleway"; 
}
h3 {
    font-size: 0.5rem; 
    font-family: "Raleway"; 
    color: rgb(255,255,255);
}
h4 {
    font-size: 0.2rem; 
    font-family: "Raleway";
    color: rgb(255,255,255);
}
a {
    color: rgb(255,255,255);
    font-family: "Raleway"; 
}
a:hover {
    color: rgb(99,174,155);
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FFD4B2;
    border-width: 5px;
    width: 4%;
    margin: 50px auto;
    background-color: rgb(0,0,0);
}
body {
    color: #ffffff;
    background-color: rgb(16,16,16);
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*************** NAVIGATION BAR ****************/
.container-fluid {
    background-color: rgb(16,16,16);
}
.navbar {
    padding: 0%;
    background-color: rgb(255, 255, 255);
}
.navbar-brand {
    font-family: "Arial"; 
}
.nav-link {
    font-family: "Raleway"; 
    margin-top: 10px;
}
.nav-item {
    margin: 0;
    padding: 0 15px; 
}

/*************** COVER ******************/
.cover-date {
    font-size: 1rem;
}
.cover-title {
    font-size: 1.4rem;
    font-family: "Arial";
}
.cover {
    background-color: rgb(16,16,16);
    text-align: center;
    padding: 10% 5% 10% 5%;
    margin-top: 0px;
}

/**************** INTRO ***************/ 
.intro {
    background-color: rgb(16,16,16);
    padding: 10% 5%;
    text-align: center;
}
.intro-name {
    font-family: "Cinzel Decorative"; 
    font-weight: 100; 
    line-height: 1.4; 
    font-size: 1.4rem; 
    padding: 0.25%; 
    text-align: center;
    margin-bottom: 5%
}
.intro-descrip {
    font-family: "Raleway"; 
    font-size: 1rem;
    color: rgb(255,255,255);
}

/*************** RESEARCH ***************/
.research {
    background-color: rgb(16,16,16);
    color: rgb(255,255,255);
    text-align: center;
    padding: 10% 5%; 
}
.research-title {
    font-size: 1.4rem;
    font-family: "Arial";
}
.research-descrip {
    font-family: "Raleway"; 
    font-size: 1rem; 
}
.research-row {
    width:50%;
    margin: 100px auto 0px auto; 
    text-align: left;
    line-height: 2;
}
.happy-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.vision-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/*************** SKILLS ***************/
.skills {
    background-color: rgb(16,16,16);
    color: rgb(255,255,255);
    text-align: center;
    padding: 10% 5%;
}
.skill-web {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-data {
    width: 50%;
    margin: 0px auto 100px auto; 
    text-align: right; 
    line-height: 2;
}
.web-dev {
    width: 25%; 
    float: left; 
    margin-right: 30px;
}
.data-img {
    width: 25%;
    float: right; 
    margin-left: 30px;
}


/*************** CONTACT ****************/
.contact-me {
    background-color: rgb(16,16,16);
    color: rgb(255,255,255);
    text-align: center;
}



/*************** ENDING ***************/
.ending {
    background-color: rgb(16,16,16);
    padding: 50px 0 20px;
    color: rgb(255,255,255);
    text-align: center;
}
.contact-message {
    width: 45%; 
    margin: 40px auto 60px;
}
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #63ae9b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #86c8bc;
    text-decoration: none;
}
.copyright {
    color: rgb(99,174,155);
    font-size: 0.75rem;
    padding: 20px 0; 
}
.footer-link {
    font-size: 1rem;
}